
capama_web/capama_web/__pycache__/wsgi.cpython-38.pyc
capama_web/capama_web/__pycache__/urls.cpython-38.pyc
capama_web/capama_web/__pycache__/settings.cpython-38.pyc
capama_web/capama_web/__pycache__/__init__.cpython-38.pyc
capama_web/reportes/__pycache__/__init__.cpython-38.pyc
