{% block content %}
{% endblock %}
<!-- En el block content va el contenido cambiente de cada pagina -->
<br><br>
<footer class="footer inverse-wrapper" style="background-color: black;">
	<div class="container inner">
    	<div class="row">
			<div class="col-sm-4">
			
			</div>
            <!-- /column -->
            
			<div class="col-sm-4">
				<div class="widget" style="color: white; text-align: center;">
					<img alt="Logo" src="https://res.cloudinary.com/dysntklpm/image/upload/v1608956961/logocapama_ayixzs.png" width="120px"> &nbsp;&nbsp; <img alt="Logoacapulco" src="https://res.cloudinary.com/dysntklpm/image/upload/v1608956908/logoacapulco_vhvikd.png" width="170px"> 
                    <br/>
					<div class="contact-info"> <i class="icon-location"></i> <a href="https://www.google.com.mx/maps/place/Av+Adolfo+L%C3%B3pez+Mateos+%26+Teniente+Jos%C3%A9+Azueta,+Zona+Urbana+49,+Acapulco,+Gro./@16.8472459,-99.911306,18.4z/data=!4m2!3m1!1s0x85caf7e5220eb7e7:0x20274e0e63ff31f0" target="_blank">Av. Lic. Adolfo López Mateos, Esq. Tte. José Azueta s/n, Col. Centro C.P. 39300, Acapulco, Gro </a> <br />
					<i class="icon-phone" style="color: white;"></i>01 (744)434-1400 <br />
				</div>
			</div>
		</div>
	</div>
          
	<div class="sub-footer"></div>
		<div class="container inner">
			<p class="text-center" style="color: white; margin: 0;"> 2021 <a href="http://www.capama.gob.mx/portal">CAPAMA</a>. Todos los derechos reservados <a href="http://www.capama.gob.mx">CAPAMA</a>.</p>
		</div>
	</div>
</footer>