{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes usuarios</title>
</head>
<body>
    <p>Bienvenido {{ nomEmpleado }} </p>
    <a href="/logout/">Cerrar Sesión</a>

    
    {% if  cargo == 'Sobrestante' %}
        <p>eres sobrestante we</p>

    {% else %}
        <p> eres admin we </p>
    {% endif %}


    {% if reportesU %}
    <table border="1">
        <tr>
            <th>Folio de seguimiento</th>
            <th>Tipo de anomalía</th>
            <th>Tipo de servicio</th>
            <th>Dirección</th>
            <th>Zona</th>
            <th>Descripción</th>            
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Foto</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Botón detalles</th>
        </tr>
        {% for reportes in reportesU %}
        <tr>
            <td>{{ reportes.folio_seguimiento }}</td>
            <td>{{ reportes.tipo_anomalia }}</td>
            <td>{{ reportes.tipo_servicio }}</td>
            <td>Colonia: {{ reportes.colonia }}, Calle: {{ reportes.calle }}, No. interior: {{ reportes.num_interior }}, No. exterior: {{ reportes.num_exterior}} </td>
            <td>{{ reportes.zona }}</td>
            <td>{{ reportes.descripcion }}</td>        
            <td>{{ reportes.fecha }}</td>
            <td>{{ reportes.id_usuario }}</td>
            <td>{{ reportes.foto }}</td>
            <td>{{ reportes.estado }}</td>
            <td>{{ reportes.prioridad }}</td>            
            <td>
                <a href="/detallesReporteUsuario/{{ reportes.id}}">
                    <input type="submit" value="Modificar">
                </a> 
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p> No hay reportes de usuarios </p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if reportesU.has_previous %}
                <a href="?page=1">&laquo; Primera Página</a>
                <a href="?page={{ reportesU.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Page {{ reportesU.number }} of {{ reportesU.paginator.num_pages }}.
            </span>
    
            {% if reportesU.has_next %}
                <a href="?page={{ reportesU.next_page_number }}">Siguiente</a>
                <a href="?page={{ reportesU.paginator.num_pages }}">Última Página &raquo;</a>
            {% endif %}
        </span>
    </div>


</body>
</html>