<!DOCTYPE html>
<html lang="es">
<head>  
	<title>CAPAMA| servicio de agua potable y saneamiento de Acapulco, Guerrero.</title>			
</head>
<body>
	<header>
	<br>
	<h1 style="color: rgb(22, 78, 231);">Bienvenido al sistema de reporte de fugas de agua</h1>
	<br>
	</header>

		{% if errores %}
			<ul style="margin-top: 10px;">
			{% for error in errores %}
				<li style="color: red;">{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}

	<div class="Login">

	<form method="POST" action="/login/">{% csrf_token %}
			<table>
				{{ form.as_table}}
			</table>

			<div>
				<input type="submit" name="entrar" value="Enviar">
			</div> 
	</form>
	</div>
	
</body>
</html>
