<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    {% if usuarios %}
    <table border="1">
        <tr>
            <th>Número de contrato</th>
            <th>Nombre completo</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Colonia</th>
            <th>Calle</th>
            <th>Código Postal</th>
            <th>Contraseña</th>
            <th>Botón Modificar</th>
        </tr>
        {% for datos in usuarios %}
        <tr>
            <td>{{ datos.num_contrato }}</td>
            <td>{{ datos.nombre }} {{datos.apellidos}} </td>
            <td>{{ datos.email }}</td>
            <td>{{ datos.telefono }}</td>
            <td>{{ datos.colonia }}</td>
            <td>{{ datos.calle }}</td>
            <td>{{ datos.cp }}</td>
            <td>{{ datos.contrasena }}</td>                       
            <td> 
                <a href="/modificarUsuarios/{{ datos.id}}">
                    <input type="submit" value="Modificar">
                </a>
            </td>
            
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p> No hay Usuarios </p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if usuarios.has_previous %}
                <a href="?page=1">&laquo; Primera Página</a>
                <a href="?page={{ usuarios.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Page {{ usuarios.number }} of {{ usuarios.paginator.num_pages }}.
            </span>
    
            {% if usuarios.has_next %}
                <a href="?page={{ usuarios.next_page_number }}">Siguiente</a>
                <a href="?page={{ usuarios.paginator.num_pages }}">Última Página &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>