{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Empleado</title>

    {% load bootstrap4 %} {# CSS Bootstrap #} {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">



    <style>
        body {
            background-size: cover;
            font-family: 'poppins';
        }
    </style>



</head>
<nav class="navbar navbar-expand-lg" style="background-color: #2465C9;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> 
        <span  style="color: white; font-size: 36px;"> 
            <i class="fas fa-bars"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="https://www.capama.gob.mx/recursos/imagenes/capama_r.png" alt="" style="width: 30%;">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    {% if cargo == 'Sobrestante' %}
                    Sobrestante

                 {% else %}
                Administrador
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/logout/">Salir</a>
                    <a class="dropdown-item" href="/reportesUsuarios/">Reporte de usuarios</a>
                    <a class="dropdown-item" href="/reportesEmpleados/">Reporte de empleados</a>
                    <a class="dropdown-item" href="/registrarUsuario/">Registrar nuevo usuario</a>
                    <a class="dropdown-item" href="/registrarEmpleado/">Registrar nuevo empleado</a>
                    <a class="dropdown-item" href="/mostrarUsuarios/">Mostrar usuarios registrados</a>
                    <a class="dropdown-item" href="/mostrarEmpleados/">Mostrar empleados registrados</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="container">
        {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Ocurrio un error!</strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %}
        <div style="padding: 2%;"></div>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label> {{formularioEmpleado.nombre}}

                </div>
                <div class="form-group col-md-6">
                    <label for="apellidos">Apellidos</label> {{formularioEmpleado.apellidos}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telefono">Teléfono</label> {{formularioEmpleado.telefono}}
                </div>
                <div class="form-group col-md-6">
                    <label for="email">email</label> {{formularioEmpleado.email}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="num_empleado">Número de empleado</label> {{formularioEmpleado.num_empleado}}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{formularioEmpleado.colonia.label}}">{{formularioEmpleado.colonia.label}}</label> {%render_field formularioEmpleado.colonia class+="form-control"%}

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{formularioEmpleado.calle.label}}">{{formularioEmpleado.calle.label}}</label> {%render_field formularioEmpleado.calle class+="form-control"%}
                </div>
                <div class="form-group col-md-6">
                    <label for="cp">Código postal</label>{{formularioEmpleado.cp}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{formularioEmpleado.cargo.label}}">{{formularioEmpleado.cargo.label}}</label> {%render_field formularioEmpleado.cargo class+="form-control"%}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{formularioEmpleado.zona.label}}">{{formularioEmpleado.zona.label}}</label> {%render_field formularioEmpleado.zona class+="form-control"%}
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="calle">Contraseña</label> {{formularioEmpleado.contrasena}}
                </div>
                <div class="form-group col-md-6">
                    <label for="cp">Repetir contraseña</label> {{formularioEmpleado.temp_contrasena}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{formularioEmpleado.disponibilidad.label}}">{{formularioEmpleado.disponibilidad.label}}
                    </label> {%render_field formularioEmpleado.disponibilidad class+="form-control"%}

                </div>
            </div>


            <input type="submit" value="Registrar" class="btn btn-warning btn-lg btn-block">
        </form>
        <div style="padding: 1%;"></div>
        <div class="container">
            <a href="/mostrarEmpleados/"><input type="" value="volver" class="btn btn-secondary btn-lg btn-block"></a>
        </div>
        <div style="padding: 2%;"></div>
        {% bootstrap_javascript jquery='full' %}

</body>

</html>